/* De nuevo el color */
.banner,
.navbar {
  color: #262121;
  font-family: "Acme", sans-serif;
}

a:hover {
  color: black;
}

/*Color rojo*/
a {
  color: #262121;
  font-family: "Acme", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

a.nav-link {
  font-family: "Acme", sans-serif;
  font-size: 2rem;
}

h1 {
  font-size: 5rem;
  font-family: "Acme", sans-serif;
}

h2 {
  font-family: "Acme", sans-serif;
  font-size: 4rem;
  color: #262121;
}

h3 {
  font-family: "Acme", sans-serif;
  font-size: 2.5rem;
  color: #262121;
}

table {
  background-color: #cc6464;
  font-size: 1.5rem;
  border-color: black;
}
/*Queda bien en algunas, pero no en todas, debería revisar cuáles y utilizarlos con id en vez de generalizar a todas las imágenes*/
img {
  background-color: #cc6464;
}
/*Color!!!*/
